@(view: String)(content: Html)(implicit request: RequestHeader)

<!DOCTYPE html>
<html>
    <head>
        <title>InsightEdge Demo</title>

        <link type="text/css" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("../../../../../../../../home/dgurin/code/bigdl-fork/BigDL/web/web/public/css/main.css")" />
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("../../../../../../../../home/dgurin/code/bigdl-fork/BigDL/web/web/public/css/modal.css")" />
            @helper.javascriptRouter("jsRoutes")(
                routes.javascript.CallsEndpoint.getLastCallSessions,
                routes.javascript.CallsEndpoint.getInprocessCalls,
                routes.javascript.CallsEndpoint.getModelStatistic
        )
        <script type="text/javascript" src="@routes.Assets.at("js/callSessions.js")"></script>
    </head>
    <body>
        @content
    </body>
</html>