@(message: String)(implicit request:RequestHeader)

@main("flights") {

<div class="container">

    <h2 class="sub-header">Call sessions <small id="submittedCount"></small></h2>
    <div class="table-responsive scrolled-table">
        <table id="submittedFlightsTable" class="table table-striped table-condensed">
            <tbody>
            <tr>
                <th>Id</th>
                <th>Category</th>
                <th>Agent Id</th>
                <th>Text</th>
            </tr>
            </tbody>
        </table>
    </div>

</div>
}
